@charset "utf-8";

@import 'sass/utilities/initial-variables.sass';
@import 'sass/utilities/functions.sass';

//Setting Color Classes
// $primary: $blue1 !default;
// $info: $blue2;
// $danger: $amaranth !default;
// $warning: $yellow;

// $primary-invert: $blue1-invert !default;
// $info-invert: $blue2-invert !default;
// $warning-invert: $yellow-invert !default;
// $danger-invert: $amaranth-invert !default;

// //Text Colors
// $text: $black-ter !default;

// //code colors
// $code: $amaranth !default;

// // Link colors
// $link: $blue3 !default;
// $link-visited: $blue4 !default;

//Lists and Maps
// $custom-colors: ("primary-dark" : ($blue4,$blue4-invert))!default;

//Font Sizes
$size-0: 3.5rem !default;
$size-1: 3rem !default;
$size-2: 2.5rem !default;
$size-3: 2rem !default;
$size-4: 1.5rem !default;
$size-5: 1.25rem !default;
$size-6: 1rem !default;
$size-7: 0.75rem !default;
$size-8: 0.5rem !default;
$size-9: 0.25rem !default;

$sizes: $size-0 $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 $size-8 $size-9 !default;

//Setting Custom Colors Variables
$st-patricks-blue: #1d2f6fff;
$floral-white: #F9EDDC;
$orange: #f95738ff;
$green: #4ebf4bff;
$blue: #1e96fcff;
$cyan: #1E96FC;
$yellow: #ffbf00ff;

$primary: $st-patricks-blue;
$danger: $orange;
$light: $floral-white;
$dark: #333333;
$black: #242424ff;

$info-invert: #fff;

$family-sans-serif: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
  sans-serif;

$thickness: 4px;

$pagination-current-border: darken($primary, 5);

$navbar-item-active-color: $primary;

$dropdown-content-shadow: 0 0 0 1px #dbdbdb, 0 #{$thickness} 0 1px #dbdbdb;

$navbar-dropdown-boxed-shadow: $dropdown-content-shadow;

$bulmaswatch-import-font: true !default;

$box-shadow: none;

$control-height: 2.25em;


@import 'sass/utilities/derived-variables.scss';
@import 'sass/utilities/animations.sass';
@import 'sass/utilities/mixins.sass';
@import 'sass/utilities/controls.sass';
@import 'sass/base/_all.sass';
@import 'sass/form/_all.sass';
@import 'sass/grid/_all.sass';
@import 'sass/components/_all.sass';
@import 'sass/layout/_all.sass';
@import 'sass/elements/_all.sass';
@import 'sass/helpers/_all.sass';
@import 'lumen/overrides';
